// Popup
$popup-bg: #fcfcfc;

// Welcome
$auth-social-btn-icon-width: 30px;
$auth-social-btn-color: #FFF;
$facebook-blue: #294886;
$google-red: #dd4c39;
$twitter-blue: #00a3dc;
$welcome-color: #FFFFFF;

// Auth
$auth-color: #FFFFFF;
$auth-btn-bg: #ff5a60;
$auth-btn-color: #FFFFFF;
$error-color: $auth-btn-bg;
