// Popup
$popup-bg: #fcfcfc;
$popup-color: #333333;
$popup-padding: 10px;
$new-comment-height: 55px;

// $auth-field-bg: #e3e4e6;
// $auth-btn-bg: #4587c3;
// $auth-btn-color: #FFFFFF;
// $error-color: #ff5a60;
